:root {
  --row-shadow-offset-x: 16px;
  --row-shadow-offset-y: 16px;
  --row-shadow-blur:32px;
}

body{
  background:#dddddd;
}

ol{
  display:flex;
  flex-direction:column;
}

li{
  margin:32px;
  border-radius:1em;
  box-shadow:
    var(--row-shadow-offset-x) var(--row-shadow-offset-y) var(--row-shadow-blur) #bbbbbb,
    calc(0px - var(--row-shadow-offset-x)) calc(0px - var(--row-shadow-offset-y)) var(--row-shadow-blur) #ffffff;
  list-style-type:none;
}

li>ol{
  display:flex;
  flex-direction:row;
}

li>ol>li{
  flex:1;
  margin:0;
  box-shadow:none;
}
