:root {
  --row-shadow-offset-x: 8px;
  --row-shadow-offset-y: 8px;
  --row-shadow-blur:24px;
}

body{
  background:#dddddd;
}

.table{
  display:flex;
  flex-direction:column;
}

.bar{
  margin:12px;
  border-radius:1em;
  box-shadow:
    var(--row-shadow-offset-x) var(--row-shadow-offset-y) var(--row-shadow-blur) #bbbbbb,
    calc(0px - var(--row-shadow-offset-x)) calc(0px - var(--row-shadow-offset-y)) var(--row-shadow-blur) #ffffff;
  list-style-type:none;
}

.row{
  display:flex;
  flex-direction:row;
}

.data{
  flex:1;
  margin:12px;
  box-shadow:none;
  list-style-type:none;
}
